<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Защищенная страница</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/source.js" defer></script> 
</head>
<body>
    <div id="content" class="styles-div">
        <h1>Это защищаемый контент</h1>
        <p>Данный текст будет нельзя скопировать или сохранить после активации защиты.</p>
         {% block extended_content %}
        <!-- расширяемый контент -->
        {% endblock %}
    </div>
    <div id="protection-from-shortcutting" class = "hidden styles-div">
        <h1>А я предупреждал! Теперь вы не сможете даже прочитать текст</h1>
    </div>

    <div id="controls">
        <button id="enableProtection">Включить защиту</button>
        <button id="disableProtection">Отключить защиту</button>
    </div>
    
</body>
</html>